<h1>NEW STUDENT</h1><br>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <h4><%= error%></h4>
    <% end %>
<% end %>
<form action="/dojos/<%= @dojo.id %>/students" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="first_name">First Name: </label>
<input type="text" name="student[first_name]"><br><br>
<label for="last_name">Last Name: </label>
<input type="text" name="student[last_name]"><br><br>
<label for="email">Email: </label>
<input type="text" name="student[email]"><br><br>
<label for="dojo_id">Dojo: </label>
<select id="dojo" name="student[dojo_id]">
<% @dojos.each do |dojo| %>
    <option value="<%= dojo.id %>"><%= dojo.branch%></option>  
<% end %>
</select><br><br>
<input type="submit" value="Create">
</form><br><br>
<a href="/dojos">go back</a>
<a href="">branch</a>